<!DOCTYPE html>
<html>
  <head>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>Portfolio</title>
  </head>
  <body>
  <div class="container">
  <div class="jumbotran">
      <h1 align="center"> KhanSahab</h1>
        <div class="fright">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h2 class="panel-title"><span class="bg-info">About Me</span></h2>
            </div>
            <div class="panel-body">
              <p><img src="./AloneMe.jpg" alternate="My Portfolio Picture Shows me Laughing"></p>
                <ul>
                  <li>Name -- <em>Nauman Khan</em> but people call me <em>KhanSahab</em></li>
                  <li>Residence -- Currently<em class=text-primary> Hillsboro</em> but usually shuttle between <em>Pakistan, Buffalo, Hillsboro and Texas</em></li>
                  <li>BSEE -- <em>Aeronautical college Korangi Creek Karachi Pakistan</em> now <em> Risalpur Academy</em></li> 
                  <li>MBA -- <em>Institute of Business administration</em></li>
                  <li>MSEE -- <em>SUNY Binghamton</em></li>  
                  <li>Fifteen years experience with both<em> Lockheed Martin</em> and<em> Intel Corporation</em></li>
                </ul>
            </div>
          </div>
        </div>

  <div class="row">
    <div class="objectives">
      <div class="col-md-8">
        <div class="well">
          <h2 align="center">Constraints in Life</h2>
            <ul class="bg-info">
              <li>I have to shuttle between Pakistan and America</li>
              <li>Have to work remotely and hardware jobs are hard to find for remote work</li>
              <li>Kids are mostly grown up and need to work for myself, my happiness</li>
              <li>Getting Old and need my own busy-ness instead of depending on an employer to provide work t me</li>
              <li>Don't want to end up at age 60 laid off and unable to start new work of own with no energy and memory fading</li>
            </ul>
            <h1 align="center">Objectives</h2>
            <ul class="bg-success"> 
              <li>Learn Front end and backend coding so that it helps in..........</li>
              <li>Changing line of work to something that allows me to work from home</li>
              <li>..........creating my own software house too, to support web development needs of the companies</li>
              <li>Allowing me to convert my mega ideas to cool websites that attract people</li>
              <li>Allowing me for a free travel If God Willing</li>
              <li>Develop my own software tools</li>
            </ul>
        </div>
      </div>
    </div>
  
    <div class="col-md-3">
    <blockquote class="text-primary">
      <p>Above all, be a hero of your life not a victum</p>
      <p>Prioritize to create inner peace in your life</p>
      <p>You are a painter of your future, it'll be as grey as you allow it to be</p>
      <p>If you are suppressing art, you are suppressing your dreams and aspirations in yourself [Obama]</p>
      <footer>few of good quotes relating to the objectives on the left</footer>
    </blockquote>  
    </div>


    <div class="currentWork">
      <div class="col-md-8">
      <h2>Currently enrolled with Epicodus</h2>
        <h6 class="text-muted">wherever applicable a link to the work on that particular day would be provided</h6>
         <p class="well"><span class="text-primary">Stepped in online Etherial Epicodus</span></p>
          <ol>
            <li>Downloaded Visual studio Live share, git, navigated github website and learned all of the tools above alongside with first lesson in markdown language. Learned HTML block and inline elements and created <a href="https://nkhakwan.github.io/MyFirstWebPage/"><span class="text-danger">first web page</span></a></li>
            <li>Learned branching of the master and created differently colored themed pages. See <a href="https://nkhakwan.github.io/BranchingTestProject"><span class="text-danger"> One colred theme here</span></a></li>
            <li>Learned cascascading, styles sheet, div, span and other helper in line or other elements and created <a href="https://nkhakwan.github.io/StylingWithClasses/"><span class="text-danger">Styling With Classes web page</span></a></li>
            <li>Learned modifying pages with bootstrap library of style sheet and created <a href="https://nkhakwan.github.io/PracticingBootStrap/"> <span class="text-danger">this web page</span></a></li>
          </ol>
      </div>
    </div>
    <div class="col-md-8">
    <div class="fotos">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="bg-info">Fotos with few of my high school friends six months ago</span></h3>
        </div>
        <div class="panel-body">
          <p><img src="./SeattleLodge.jpg" alternate="My Portfolio Picture Shows me Laughing"></p>
          <p><img src="./SeattleWithOldFriends.jpg" alternate="My Portfolio Picture Shows me Laughing"></p>
          <p><img src="./ByCascadeLakeInWashington.jpg" alternate="My Portfolio Picture Shows me Laughing"></p>
          <p><img src="./tualatinAirMueseum.jpg" alternate="My Portfolio Picture Shows me Laughing"></p>
        </div>
      </div>
    </div>
  </div>

  </div>
  </div>
  </div>
  </body>
</html>

https://www.costacruises.com/content/dam/costa/inventory-assets/ports/IST/ist-istanbul-port-2.jpg.image.750.563.low.jpg
https://idsb.tmgrup.com.tr/ly/uploads/images/2020/04/17/thumbs/800x531/31299.jpg
https://pix10.agoda.net/geo/city/14932/1_14932_02.jpg?s=1920x822
https://turkishairlines.ssl.cdn.sdlmedia.com/637128523988699111JF.jpg

https://i.hurimg.com/i/hdn/75/0x0/5ba3b4fd0f254324480b1066.jpg
https://i.hurimg.com/i/hdn/75/0x0/5eb9129067b0a91a4070d3b0.jpg

https://a.cdn-hotels.com/gdcs/production164/d871/775a61c0-c31d-11e8-a1a9-0242ac110002.jpg
https://i.pinimg.com/originals/83/a3/02/83a3020c2ebf78c30d59967856ec4a24.jpg
https://q-cf.bstatic.com/images/hotel/max1024x768/110/110242261.jpg
https://live.staticflickr.com/1821/42606879744_a6c13a8070_b.jpg
https://www.cappadociaballoontours.net/wp-content/uploads/2018/08/Love-Valley-Cappadocia.jpg